<div class="card ng-trigger ng-trigger-cardRemove" animatesinitmode="show" style="visibility: visible; opacity: 1;">

    <!---->
    <div class="ng-tns-c14-92 ng-trigger ng-trigger-collapsedCard ng-star-inserted" style="overflow: hidden;"
        *ngIf="vista == 'home'" infiniteScroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()" >
        <!---->
        <div class="card-body ng-tns-c14-92 table-border-style ng-star-inserted">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th *ngFor="let item of tablet.dataHeader">{{ item }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tablet.dataRow">
                            <td>
                                <button (click)="verView( item )" class="btn btn-icon btn-primary" type="button"><i
                                        class="fa fa-eye" aria-hidden="true"></i></button>
                            </td>
                            <td>
                                <img width="30px" height="50px" [src]="item.foto">
                            </td>
                            <td>{{ item.username }}</td>
                            <td>{{ ( item.fechadelpack | date:'medium' ) || 'Nunca Compro Paquete' }}</td>
                            <td>{{ item.celular }}</td>
                            <td>{{ item.nivel }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div *ngIf="vista == 'detalle'">
        <div class="container mat-elevation-z5 row">
            <div class="col-12 row">
                <div class="col">

                </div>
                <button mat-mini-fab color="warn" (click)="cerrarDetalle()">
                    <i class="fas fa-times"></i>
                    <!-- Cerrar -->
                </button>
            </div>
            <div class="content column col-12">
                <h6 class="mat-elevation-z5 p row col-12">
                    <div class="p col-4">
                        <img [src]="data.foto" alt="none" width="100px" height="120px">
                    </div>
                    <div class="col-8 column">
                        <div class="col-12">
                            <label class="text textInf">Username: </label>
                            <span class="textInf">{{ data.username }}</span>
                        </div>
                        <div class="col-12">
                            <label class="text textInf">Nombre: </label>
                            <span class="textInf">{{ data.name }}</span>
                        </div>
                        <div class="col-12">
                            <label class="text textInf">Nivel: </label>
                            <span class="textInf">{{ data.nivel }}</span>
                        </div>
                    </div>
                </h6>
                <h6 class="column col-12">
                    <div class="row">
                        <div class="col-8">
                            <span class="text textInf">
                                Fecha de Registro:
                            </span>
                        </div>
                        <div class="col-4">
                            <span class="textInf">{{ data.createdAt }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <span class="text textInf">
                                Referidos:
                            </span>
                        </div>
                        <div class="col-4">
                            <span class="textInf">{{ data.seguidores || 0 }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <span class="text textInf">
                                Recompensas:
                            </span>
                        </div>
                        <div class="col-4">
                            <span
                                class="textInf">{{ (data.recompensas || 0).toLocaleString('de-DE', { style: 'currency', currency: 'COP' }) }}</span>
                        </div>
                    </div>
                </h6>
                <h6 class="column col-12">
                    <div class="row">
                        <div class="col-8">
                            <span class="text textInf">
                                Email:
                            </span>
                        </div>
                        <div class="col-4">
                            <span class="textInf">{{ data.email }}</span>
                        </div>
                    </div>
                </h6>
                <h6 class="column col-12">
                    <div class="row">
                        <div class="col-8">
                            <span class="text textInf">
                                Numero de Celular:
                            </span>
                        </div>
                        <div class="col-4">
                            <span class="textInf">{{ data.celular }}</span>
                        </div>
                    </div>
                </h6>
                <h6 class="column col-12">
                    <div class="row">
                        <div class="col-8">
                            <span class="text textInf">
                                Tareas Hoy:
                            </span>
                        </div>
                        <div class="col-4">
                            <span class="textInf">{{ data.tareashoy }}</span>
                        </div>
                    </div>
                </h6>
            </div>
        </div>
    </div>

    <div class="col-12" *ngIf="progreses">
        <div class="d-flex justify-content-center row">
            <div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span></div>
            <div class="spinner-grow text-secondary" role="status"><span class="sr-only">Loading...</span></div>
            <div class="spinner-grow text-success" role="status"><span class="sr-only">Loading...</span></div>
            <div class="spinner-grow text-danger" role="status"><span class="sr-only">Loading...</span></div>
            <div class="spinner-grow text-warning" role="status"><span class="sr-only">Loading...</span></div>
            <div class="spinner-grow text-info" role="status"><span class="sr-only">Loading...</span></div>
            <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
            <div class="spinner-grow text-dark" role="status"><span class="sr-only">Loading...</span></div>
        </div>
    </div>
    
    <div class="col-12" *ngIf="!progreses && tablet.dataRow.length == 0">
        <div class="d-flex justify-content-center row">
            <div role="alert" class="alert alert-primary">No Hay Datos Para Mostrar</div>
        </div>
    </div>
</div>