<div class="card ng-trigger ng-trigger-cardRemove" animates="" animatesinitmode="show"
    style="visibility: visible; opacity: 1;">
    <div class="ng-tns-c14-12 ng-trigger ng-trigger-collapsedCard ng-star-inserted" style="overflow: hidden;">
        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <h5>LISTA DE CLEINTES</h5>
            </div>
        </div>
    </div>
    <div class="content p-5">
        <div class="row">
            <div class="col-12">
                <div class="d-flex bd-highlight">
                    <div class="p-2 w-100 bd-highlight">
                        <label for="exampleInputEmail1">Buscar Clientes</label>
                        <input type="text" class="form-control" [(ngModel)]="filtro.text">
                    </div>
                    <div class="p-2 flex-shrink-1 bd-highlight">
                        <div style="    margin-top: 28px;">
                            <button type="button" class="btn btn-primary" (click)="filtroGet()">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card-body ng-tns-c14-12 table-border-style ng-star-inserted">
                    <div class="table-responsive" infiniteScroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50"
                        (scrolled)="onScroll()">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th *ngFor="let item of tablet.header">{{ item }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of tablet.listRow">
                                    <td>
                                        <!--<button type="button" class="btn btn-danger" (click)="updateUser( item )">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>-->
                                    </td>
                                    <td>{{ item.Nidentificacion }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td>
                                        {{ item.email }}
                                    </td>
                                    <td>
                                        {{ item.Nwhatsaap }}
                                    </td>
                                    <td>
                                        {{ item.ciudad }}
                                    </td>
                                    <td>{{ item.direccionRecogida }} - {{ item.barrio }}</td>
                                    <td>{{ item.createdAt | date: "medium" }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12" *ngIf="progreses">
                        <div class="d-flex justify-content-center row">
                            <div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-secondary" role="status"><span
                                    class="sr-only">Loading...</span></div>
                            <div class="spinner-grow text-success" role="status"><span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-danger" role="status"><span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-warning" role="status"><span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-info" role="status"><span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-dark" role="status"><span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12" *ngIf="!progreses && tablet.listRow.length == 0">
                        <div class="d-flex justify-content-center row">
                            <div role="alert" class="alert alert-primary">
                                No Hay Datos Para Mostrar
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>