<div class="card ng-trigger ng-trigger-cardRemove" animates="" animatesinitmode="show"
    style="visibility: visible; opacity: 1;">
    <div class="ng-tns-c14-12 ng-trigger ng-trigger-collapsedCard ng-star-inserted" style="overflow: hidden;">
        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <h5>LISTA DE RECOGIAS</h5>
            </div>
        </div>
    </div>
    <div class="content p-5">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <div class="row container">
                        <div class="form-group col-4" *ngIf="rolName == 'admin'">
                            <label for="exampleInputEmail1">User Name // Email</label>
                            <input type="text" class="form-control" [(ngModel)]="filtro.user" placeholder="Enter nombre">
                        </div>
                        <div class="col-3">
                            <label for="exampleInputEmail1">Fecha Inicial</label>
                            <input type="datetime-local" [(ngModel)]="filtro.fecha1" name="birthdaytime">
                        </div>
                        <div class="col-3">
                            <label for="exampleInputEmail1">Fecha final</label>
                            <input type="datetime-local" [(ngModel)]="filtro.fecha2" name="birthdaytime">
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-primary" (click)="getFiltro()">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card-body ng-tns-c14-12 table-border-style ng-star-inserted">
                    <div class="table-responsive" infiniteScroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50"
                        (scrolled)="onScroll()">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th *ngFor="let item of tablet.header">{{ item }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of tablet.listRow">
                                    <td>
                                        <div class="row">
                                            <button type="button" class="btn btn-primary" (click)="detalles( item )">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger" [disabled]="btnDisabled" *ngIf="item.estado == 0" (click)="cancelar( item )">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                    <td>{{ item.txtNombreApellidoC }}</td>
                                    <td>{{ item.TxtTel_Cliente }}</td>
                                    <td>{{ item.txtNum_Cliente }}</td>
                                    <td>{{ item.nameCiudad }}</td>
                                    <td>{{ item.txtDice_Contener }}</td>
                                    <td>{{ item.txtNum_Unidades }}</td>
                                    <td>{{ item.txtPesoReal_K }}</td>
                                    <td>{{ item.createdAt | date: "medium" }}</td>
                                    <td>
                                        <div [ngClass]="{ colorVerde: item.estado == 0, colorDanger: item.estado == 1, colorOrange: item.estado == 2 }">
                                            {{ item.estadosName }}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12" *ngIf="progreses">
                        <div class="d-flex justify-content-center row">
                            <div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-secondary" role="status"><span
                                    class="sr-only">Loading...</span></div>
                            <div class="spinner-grow text-success" role="status"><span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-danger" role="status"><span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-warning" role="status"><span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-info" role="status"><span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-dark" role="status"><span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12" *ngIf="!progreses && tablet.listRow.length == 0">
                        <div class="d-flex justify-content-center row">
                            <div role="alert" class="alert alert-primary">
                                No Hay Datos Para Mostrar
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>