.colorVerde{
    background: green;
    color: white;
    padding: 5px;
}

.colorDanger{
    background: red;
    color: white;
    padding: 5px;
}

.colorOrange{
    background: orange;
    color: white;
    padding: 5px;
}