.p {
    padding: 10px;
  }
  .m {
    margin: 10px;
  }
  .imagen {
    height: 243px;
  }
  .separa {
    padding: 20px;
    margin: 20px;
  }
  .pointer {
    cursor: pointer;
  }
  .disable {
    opacity: 0.5;
  }
  .img {
    width: 90%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img2 {
    width: 70%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .font {
    font-size: 10px;
  }
  .ancho {
    width: 45%;
  }
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .ancho {
      width: 85%;
    }
    .textInf {
      font-size: 11px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .ancho {
      width: 65%;
    }
    .textInf {
      font-size: 12px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .ancho {
      width: 45%;
    }
    .textInf {
      font-size: 13px;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .ancho {
      width: 60%;
    }
    .textInf {
      font-size: 14px;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .ancho {
      width: 60%;
    }
    .textInf {
      font-size: 15px;
    }
  }
  