.fondo{
    position: absolute;
    top: 65px;
    //: ;
    right: 10px;
    left: 10px;
    padding: 5px;
    z-index: 999;
}
.alto{
    height: 60px;
}
.img {
    height: 701px;
    width: 100%;
}
.logoFooter{
  width: 33%;
  border-radius: 17px;
}

/* Importing Bootstrap SCSS file. */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
    .textInf {
        font-size: 11px !important;
      }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 420px) {
    .textInf {
      font-size: 60px !important;
    }
  }
  @media only screen and (max-width: 600px) {
    .textInf {
      font-size: 40px !important;
    }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .textInf {
      font-size: 60px !important;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 768px) {
    .textInf {
      font-size: 86px !important;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 800px) {
    .textInf {
      font-size: 86px !important;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .textInf {
      font-size: 50px !important;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .textInf {
      font-size: 54px!important;
    }
  }
  