<div class="row">
    <div class="col-12">
        <div class="d-flex flex-row-reverse bd-highlight">
            <button type="button" class="btn btn-warning m-l-0" [routerLink]="['/dashboard/TusPublicaciones']">
                ATRAS
            </button>
            <button type="button" class="btn btn-primary m-l-0" [disabled]="disableFile" (click)="submit()">
                <span *ngIf="data.id">ACTUALIZAR</span>
                <span *ngIf="!data.id">CREAR</span>
            </button>
        </div>
        <br><br>
    </div>
    <div class="col-12 col-sm-6 col-xs-6 content">
        <div class="row">
                <div class="col-12">
                <div class="p-3 mb-2 bg-primary text-white rounded">
                    Formulario de {{ titulo }}
                </div>
                <br>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-12">
                <label for="exampleInputEmail1">Titulo para tu publicacion</label>
                <input type="text" class="form-control" [(ngModel)]="data.titulo">
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-12">
                <div class="form-group ">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex justify-content-center">
                                <label for="exampleInputEmail1">Seleccionar una imagen para su publicacion</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-center">
                                <img class="fotoPulib" [src]="data.foto"><br>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-center column">
                                <div><input type="file" placeholder="Imagenes" (ngModelChange)="datafiles($event)"
                                        (blur)="datafiles($event)"></div>
                                <button type="button" class="btn btn-success" *ngIf="!file.foto1[0]">Probar
                                    Foto</button>
                                <button type="button" class="btn btn-success" *ngIf="file.foto1[0]"
                                    [disabled]="disableFile" (click)="submitFile()">Subir Foto</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-12">
                <label for="exampleFormControlSelect1">Precio del Producto</label>
                <input currencyMask class="form-control form-control-sm" [(ngModel)]="data.precio"
                    [options]="formatoMoneda" />
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-12">
                <label for="exampleInputEmail1">Direccion URL Personalizada ( opcional )</label>
                <input type="text" class="form-control" (change)="ProbarUrl()" (blur)="ProbarUrl()"
                    [(ngModel)]="data.urlPersonalizada">
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-12">
                <label>Categorias</label>
                <select class="custom-select" [(ngModel)]="data.categoria" (ngModelChange)="blurCategorias()">
                    <option [value]="item.titulo" *ngFor="let item of listCategorias">
                        {{ item.titulo }}
                    </option>
                </select>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-12">
                <label>Marca</label>
                <select class="custom-select" [(ngModel)]="data.marca">
                    <option [value]="item.titulo" *ngFor="let item of listMarca">
                        {{ item.titulo }}
                    </option>
                </select>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-12">
                <label>Departamento</label>
                <select class="custom-select" [(ngModel)]="data.departamento" (ngModelChange)="blurdepartamento()">
                    <option [value]="item.departamento" *ngFor="let item of listdepartamento">
                        {{ item.departamento }}
                    </option>
                </select>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-12">
                <label for="Form-email5">Ciudad Donde Vives</label>
                <select class="custom-select" [(ngModel)]="data.ciudad" [disabled]="!data.departamento">
                    <option [value]="item" *ngFor="let item of listciudades">
                        {{ item }}
                    </option>
                </select>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-12">
                <h3>Galeria de tu producto</h3>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-12" *ngIf="view == 'subir'">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-success" (click)="subirFiles()" *ngIf="files.length >0 " [disabled]="btnDisabled">Subir Imagen</button>
                </div>
                <ngx-dropzone (change)="onSelects($event)" [multiple]="true">
                    <ngx-dropzone-label>Seleccionar Fotos</ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                        [removable]="true" (removed)="onRemoves(f)" >
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-image-preview>
                </ngx-dropzone>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-12">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-success" *ngIf="view == 'oculto'" (click)="estadoVista('subir')">Agregar Fotos de galeria</button>
                    <button type="button" class="btn btn-danger" *ngIf="view == 'subir'" (click)="estadoVista('oculto')">Ocultar Subidor de fotos</button>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-12 container" *ngIf="data.galeria">
                <div class="row">
                    <div class="col-6" *ngFor="let item of data.galeria; let idx = index;">
                        <img [src]="item.foto" alt="none" class="anchosGaleria">
                        <button type="button" class="btn btn-danger" [disabled]="disableFile" (click)="eleminarFoto(idx)">Eliminar</button>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-12">
                <label for="exampleInputEmail1">Descripcion</label>
                <angular-editor id="editor1" [(ngModel)]="data.descripcion" [config]="editorConfig"
                    (ngModelChange)="eventoDescripcion()"></angular-editor>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xs-6 content">
        <div class="row">
            <div class="col-12">
                <div class="p-3 mb-2 bg-primary text-white rounded">
                    Previsualización
                </div>
                <br>
            </div>
            <div class="col-12" *ngIf="data.titulo">
                <div class="p-3 mb-2 bg-primary text-white">
                    <h4 class="text-light">{{ data.titulo }}</h4>
                </div>
                <br>
            </div>
            <div class="col-xs-12 col-sm-12 col-12" *ngIf="data.foto">
                <div class="d-flex justify-content-center">
                    <img [src]="data.foto" class="anchosFoto"><br>
                </div>
            </div>
            <div class="col-12" *ngIf="data.precio">
                <div class="p-3 mb-2 bg-primary text-white">
                    <h4 class="text-light">
                        <input currencyMask class="form-control form-control-sm" disabled [(ngModel)]="data.precio"
                            [options]="formatoMoneda" />
                    </h4>
                </div>
                <br>
            </div>
            <div class="col-12" *ngIf="data.descripcion">
                <div class="p-3 mb-2 bg-primary text-white rounded">
                    <label>
                        <h4 class="text-light">Descripcion: </h4>
                    </label>
                </div>
                <p [innerHtml]="data.descripcion"></p>
            </div>
        </div>
    </div>
</div>