<div class="row">
    <div class="col-12">
        <div class="d-flex flex-row-reverse bd-highlight">
            <button type="button" class="btn btn-warning m-l-0" [routerLink]="['/dashboard/banner']" >
                ATRAS
            </button>
            <button type="button" class="btn btn-primary m-l-0" (click)="submit()">
                <span *ngIf="data.id">ACTUALIZAR</span>
                <span *ngIf="!data.id">CREAR</span>
            </button>
            <button *ngIf="!id" type="button" class="btn btn-success m-l-0" (click)="crearDefecto()">
                CREAR POR DEFECTO
            </button>
        </div>
        <br><br>
    </div>
    <div class="col-12 col-sm-6 col-xs-6 content">
        <div class="row">
            <div class="col-12">
                <div class="p-3 mb-2 bg-primary text-white rounded">
                    Formulario de {{ titulo }}
                </div>
                <br>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-12">
                <label for="exampleInputEmail1">Titulo del banner</label>
                <input type="text" class="form-control" [(ngModel)]="data.title">
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-12">
                <div class="form-group ">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex justify-content-center">
                                <label for="exampleInputEmail1">Seleccionar una imagen para su publicacion</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-center">
                                <img class="fotoPulib" [src]="data.imgdefault"><br>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-center column">
                                <div><input type="file" placeholder="Imagenes" (ngModelChange)="datafiles($event)" (blur)="datafiles($event)"></div>
                                <button type="button" class="btn btn-success" *ngIf="!file.foto1[0]" (click)="submitFile()">Probar Foto</button>
                                <button type="button" class="btn btn-success" *ngIf="file.foto1[0]" [disabled]="disableFile" (click)="submitFile()">Subir Foto</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-12">
                <label for="exampleInputEmail1">Direccion URL</label>
                <input type="text" class="form-control" (change)="ProbarUrl()" (blur)="ProbarUrl()"
                    [(ngModel)]="data.content">
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xs-6 content">
        <div class="row">
            <div class="col-12">
                <div class="p-3 mb-2 bg-primary text-white rounded">
                    Previsualización
                </div>
                <br>
            </div>
            <div class="col-12" *ngIf="data.title">
                <div class="p-3 mb-2 bg-primary text-white">
                    <h4 class="text-light">{{ data.title }}</h4>
                </div>
                <br>
            </div>
            <div class="col-xs-12 col-sm-12 col-12" *ngIf="data.imgdefault">
                <div class="d-flex justify-content-center">
                    <img [src]="data.imgdefault" class="anchosFoto"><br>
                </div>
            </div>
        </div>
    </div>
</div>