<div class="row">
    <div class="col-12">
        <h5>Mis Ventas a Retirar</h5>
    </div>
    <div class="col-12 col-sm-8 shadow-lg p-3 mb-5 bg-white rounded">
      <ul class="list-group list-group-flush scrols"
        infiniteScroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()"
      >
        <li class="list-group-item" *ngFor="let item of listOrdenes" [ngClass]="{'esCompletado': item.state == 2, 'esDevolucion': item.state == 3}">
          <div class="row">
              <div class="col-6 col-sm-3 col-md-4">
                <h5>Codigo: {{ item.codigo }}</h5>
              </div>
              <div class="col-6 col-sm-3 col-md-4">
                <h5>Origen: {{ item.drpCiudadOrigen }}</h5>
                <h5>Destino: {{ item.drpCiudadDestino }}</h5>
              </div>
              <div class="col-6 col-sm-3 col-md-4">
                <h5>Recibe: {{ item.contactoDestinatario }}</h5>
                <h5>Cell: {{ item.celularDestinatario }}</h5>
              </div>
              <div class="col-6 col-sm-3 col-md-4">
                <h5 class="text-warning">Valor a recaudar: {{ _tools.monedaChange( 3, 2, ( item.valorRecaudar || 0 ) ) }}</h5>
                <h5 class="text-danger">Valor del Flete: {{ _tools.monedaChange( 3, 2, ( item.flteTotal || 0 ) ) }}</h5>
                <h5 class="text-success">Tu dinero: {{ _tools.monedaChange( 3, 2, ( ( ( item.valorRecaudar || 0 ) - ( item.flteTotal || 0 ) || 0 ) ) ) }}</h5>
              </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-12 col-sm-4 shadow-lg p-3 mb-5 bg-white rounded">
        <div class=" container content">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-center">
                        <div>
                          <h4 style="text-align: center;">Tu saldo actual ( sin cobrar los fletes )</h4>
                          <h5 class="text-success" style="text-align: center;">{{ _tools.monedaChange( 3, 2, ( dataInfo.valor || 0 ) )  }}</h5>
                          <h4 style="text-align: center;">Saldo de Fletes ( Pendiente )</h4>
                          <h5 class="text-danger" style="text-align: center;">{{ _tools.monedaChange( 3, 2, ( dataInfo.valorFlete || 0 ) )  }}</h5>
                          <h4 style="text-align: center;">Valor Disponibles</h4>
                          <h5 class="text-success" style="text-align: center;">{{ _tools.monedaChange( 3, 2, ( dataInfo.valorDisponible || 0 ) )  }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12" >
                  <div class="d-flex justify-content-center">
                    <div *ngIf="dataInfo.valorDisponible >= 5000 ">
                      <button type="button" class="btn btn-success" (click)="retirarDinero( {} )">Solicitar retiro de dinero</button>
                    </div>
                    <div class="col-12" *ngIf="dataInfo.valorDisponible <= 5000 ">
                      <h3>Monto minimo de retiro $5.000</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
