
<section class="hero-section">
    <div class="container">
        <div class="d-flex justify-content-center">
            <p>
                TÉRMINOS Y CONDICIONES DEL SERVICIO DE GLOBAL:
                Toda la información de este Sitio se encuentra protegida por las leyes sobre derechos de autor y
                pertenece GLOBAL GROUP S.A.S.
                GLOBAL. S.A.S es una compañía dedicada a brindar soluciones logísticas, inteligentes e integradas que
                permitan la entrega oportuna de mercancías, reducción de costos y riesgos logísticos de nuestros
                clientes.
                Mediante nuestras herramientas tecnológicas, metodologías de trabajo y acompañamiento con personal
                experto brindamos soluciones logísticas a nuestros clientes.

                TERMINOS Y CONDICIONES BAJO EL METODO DE AFILIADO AL CREDITO
                Nuestro cliente que a solicitado y absedido a el credito de nuestros productos confirma que ha leido y
                aceptado los terminos y condiciones sobre las cuales se regira dicho credito
                1. El desembolso de sus recaudos sera realizado cada 15 dias calendario

                2.Nuestros unicos metodos disponibles para realizar los depositos de recaudo son los siguentes:
                *CUENTA AHORROS BANCOLOMBIA
                *AHORRO A LA MANO BANCOLOMBIA
                *NEQUI
                *DAVIPLATA
                3. el cliente debe tener muy claro que al momento de dicho desembolso ya le habra sido descontado los
                siguientes valores: el costo de cada producto el cual debe ser revisado en el siguiente enlace
                https://fabricaybodega-59c8e.firebaseapp.com/ ) , el flete-costo de envio de cada producto y cada una de
                las devoluciones de los productos.
                NOTA: Es muy importante que estes en frecuente comunicacion con tus clientes a los que le realizas tus
                envios para que si va a salir deje el dinero en casa ya que la transportadora le puede realizar la
                entrega a cualquier persona en la direcion suministrada siempre y cuando la persona cuente con el dinero
                a recaudar

                ­­­COMO SE MANEJAN LAS DEVOLUCIONES
                Cuando recibes una devolucion debes comunicarte el mismo dia con el soporte de GLOBAL S.A.S via
                whatsaspp al +573148487506 solicitando que sea enviado un operador a recoger el producto y de esta
                manera evitas que sea cobrado al momento del desembolso

                Términos y condiciones para el uso de nuestro sitio web:
                La información suministrada por el usuario tanto al momento de registrarse como al momento de realizar
                cada guia debe ser veraz y verificable para los procesos de distribución en destino. Cualquier
                inconsistencia en la información registrada exime a GLOBAL S.A.S. de alguna reclamación por uso indebido
                del servicio y se generara cada costo segun el usuario haya diligenciado las dimensiones,el peso,el
                volumen etc, al momento de generar la guia

                Para el correcto uso del servicio GENERACION DE GUIAS, es necesario que verifiques que siempre al
                momento de rellenar los campos de remitente antes de poner tu nombre debes escribir la palabra GLOBAL- Y
                SEGUIDAMENTE TU NOMBRE EJEMPLO: GLOBAL-Leidy Andrea Duran Galvan
                GLOBAL S.A.S. se reserva el derecho de validar con las autoridades competentes la autenticidad de los
                documentos presentados, en caso de encontrar alguna inconsistencia se remitirá la información a las
                autoridades administrativas.
                El cliente autoriza a GLOBAL S.A.S. (GLOBAL. S.A.S ), y a cada una de sus oficinas y/o bodegas para
                inspeccionar toda la carga a partir de la fecha de la aceptación del uso del producto.
                Igualmente se entiende que GLOBAL S.A.S. se reserva el derecho de transportar bajo el servicio de
                Casillero Virtual Colombia, cualquier bien que sea considerado como mercancía peligrosa para el
                transporte aéreo o bienes restringidos por el TSA (Transportation Security Administration).
                Tiempos de entrega: los despachos a través del servicio de Casillero Virtual Colombia aquí mencionados
                se realizarán en un plazo promedio de 5 a 8 días hábiles luego de recibida la mercancía por GLOBAL
                S.A.S. en origen, según el casillero, la ciudad destino y la temporada, contados desde el despacho
                realizado por el cliente a través de la página web https://enviosrrapidoscom.web.app/, siempre y cuando
                cumpla con todos los requisitos y normas aduaneras.
                GLOBAL. S.A.S no se responsabiliza por retrasos ocasionados por causa de fuerza mayor o problemas fuera
                de su control como complicaciones con la aerolínea transportadora, trámites o retención por autoridades
                de aduana del país de origen, tránsito o destino, cambios de modalidad aduanera al momento de ingreso al
                país o ciudad de destino, faltantes en la documentación que es responsabilidad del cliente.
                GLOBAL S.A.S. no responderá por daños consecuenciales que se generen del retraso que se pueda presentar,
                y sólo limitará su responsabilidad de acuerdo a la aplicación de las convenciones de transporte aéreo de
                cosas ratificadas por el país de origen.
                Declaración de abandono del envío en la ciudad de destino: Después de realizados el o los intentos de
                entrega del envío se declarará en abandono de conformidad con la regulación aplicable en cada país de
                destino.
                Política de pérdidas y faltantes: Se tendrá como límite de responsabilidad frente al contenido de envio
                el valor declarado y asegurado por el cliente, en caso que se presenten pérdidas, averías parciales o
                totales.
                1. CONDICIONES PARA MERCANCÍAS PELIGROSAS, ARTÍCULOS PROHIBIDOS Y/O RESTRINGIDOS PARA EL SERVICIO
                GRATUITO DE CASILLERO VIRTUAL COLOMBIA:
                Son considerados como mercancías peligrosas los artículos presentados aquí. Son considerados artículos
                de importación restringida los siguientes:
                Ropa Usada
                Maquinaria usada- Alimentos
                Semillas
                Productos vegetales
                Cosméticos excepto cantidades pequeñas
                Armas
                Prendas de uso militar
                Joyas
                Equipos Médicos para uso humano
                Textiles (excepto muestras)
                Pieles o artículos en pieles
                Licor
                Tabaco y Cigarrillos
                Medicamentos no recetados
                Prendas militares
                Perecederos
                Alimento para mascotas (Perros, Gatos)
                Elementos de seguridad perimetral (cámaras de vigilancia, circuitos cerrados TV)
                Perfumes
                Artículos con contenido líquido
                Son considerados artículos prohibidos los siguientes:
                Los objetos que por su naturaleza o embalaje puedan ocasionar daños a los empleados que los manejen, o
                puedan manchar o deteriorar los demás envíos con los cuales se empacan conjuntamente.
                Estupefacientes
                Juguetes bélicos excepto modelos para armar
                Dinero en efectivo en cualquier denominación
                Títulos valores o al portador
                Piedras preciosas
                Metales preciosos, manufacturados o no
                Animales o plantas (vivos o muertos)
                Cadáveres y/o restos cremados o exhumados
                Armas, municiones y elementos bélicos de toda especie
                Pornografía
                Valores, efectivo, cheques de viajero
                Oro, Plata, Platino
                Sangre
                Productos alucinógenos
                A nivel Internacional, envíos dirigidos a cárceles o instalaciones militares o navales
                Los artículos cuyo transporte esté prohibido por cualquier ley, estatuto o regulación del país de origen
                o destino, o de cualquier país a través del cual el envío deba transitar. Ninguno de los paquetes que
                ingresan al casillero y sea catalogado como mercancías peligrosas y/o prohibidas para su transporte,
                puede ser despachado hacia Colombia. En estos casos GLOBAL S.A.S. deberá informar al cliente que su
                paquete a la fecha es considerado como mercancía peligrosa y/o prohibida para su transporte, de
                conformidad con los presentes términos y condiciones, y que puede proceder de la siguiente manera, de lo
                contrario se realizará la destrucción del mismo:

                CONDICIONES DE ACCESO Y UTILIZACIÓN DEL SITIO WEB
                A. Carácter gratuito del acceso y utilización del Sitio Web
                El acceso al Sitio Web tiene carácter gratuito para el Usuario y no exige la previa suscripción o
                registro por parte de éste.
                B. Obligación de hacer un uso correcto del Sitio Web y de los Servicios
                El Usuario se compromete a utilizar el Sitio Web y los Servicios allí ofrecidos de conformidad con la
                ley, con estas Condiciones Generales así como con la moral y las buenas costumbres.
                El Usuario será responsable de los daños y perjuicios que pueda causar a GLOBAL. S.A.S o a cualquier
                tercero por los usos indebidos del Sitio Web y de la información allí contenida.
                Se consideran como usos indebidos:
                Reproducir, copiar o distribuir la información con fines comerciales.
                Transformar o modificar el contenido de la información del Sitio Web.
                Suprimir, eludir o manipular los derechos de autor y demás datos que identifican e individualizan a
                GLOBAL. S.A.S o los titulares incorporados en el contenido, así como los dispositivos técnicos de
                protección, las huellas digitales o cualquier mecanismos de acceso a la información.
                Emplear el contenido del Sitio Web o de los Servicios ofrecidos en él, para remitir publicidad,
                comunicaciones con fines de venta directa o con cualquier otra clase de finalidad comercial.
                Utilizar la información para remitir mensajes no solicitados dirigidos a una pluralidad de personas, con
                independencia de su finalidad, etc.
                Suministrar datos falsos o incorrectos que puedan inducir a error o perjuicio de GLOBAL. S.A.S o de un
                tercero.
                Denegación y retiro del acceso al sitio web y/o a los servicios
                GLOBAL. S.A.S se reserva el derecho a denegar o retirar el acceso al Sitio Web y/o a los Servicios, en
                cualquier momento y sin necesidad de preaviso al Usuario que incumpla las Condiciones aquí establecidas
                o las Condiciones Particulares que resulten aplicables.
                Duración y terminación
                La prestación del servicio del Sitio Web y de los demás Servicios será de duración indefinida, pero
                GLOBAL. S.A.S se reserva el derecho de dar por terminada o suspender la prestación del servicio del
                Sitio Web y/o de cualquiera de los Servicios allí ofrecidos en cualquier momento.
                Cuando ello sea razonablemente posible, GLOBAL. S.A.S advertirá previamente la terminación o suspensión
                de la prestación del servicio de Sitio Web y de los demás Servicios.
                IDONEIDAD TÉCNICA, EXACTITUD, SUFICIENCIA, ACTUALIDAD Y UTILIDAD DE LA INFORMACIÓN
                1. Exclusión de garantías y de responsabilidad por la idoneidad técnica de los servicios prestados por
                GLOBAL. S.A.S a través del Sitio Web.
                Los Servicios del Sitio Web de GLOBAL. S.A.S no tienen garantía de ausencia de virus u otros elementos
                que puedan producir alteraciones en el sistema informático del Usuario (software y hardware o documentos
                electrónicos y ficheros almacenados en el mismo) y por tanto GLOBAL. S.A.S no asume responsabilidad por
                daños y perjuicios del Usuario, cualquiera que sea su naturaleza, que puedan derivarse de dichos
                eventos.
                El Usuario estará obligado a tomar las precauciones que aconseja el estado de la técnica para proteger
                su sistema informático.
                GLOBAL. S.A.S usará las tecnologías de hardware, software y telecomunicaciones disponibles en el
                mercado, que sean de comprobada eficacia para buscar garantizar al Usuario la integridad y
                disponibilidad de la información suministrada por ellas y/o por el Usuario. Igualmente utilizarán
                protocolos de transferencia y codificación electrónica de datos, reconocidos en el mercado como seguros.
                GLOBAL. S.A.S no garantiza la disponibilidad y continuidad del funcionamiento ininterrumpido del Sitio
                Web. Cuando sea razonablemente posible, GLOBAL. S.A.S advertirá previamente las interrupciones en el
                funcionamiento del Sitio Web.
                GLOBAL. S.A.S excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan
                tener origen en la falta de disponibilidad o de continuidad del funcionamiento del Sitio Web.
                2. Exclusión de garantías y de responsabilidad por los servicios prestados por terceros a través del
                Sitio Web.
                GLOBAL. S.A.S no garantiza la licitud, idoneidad técnica, exactitud, suficiencia, actualidad y utilidad
                de la información y servicios prestados por terceros a través del Sitio Web.
                GLOBAL. S.A.S no asume ninguna responsabilidad por los daños y perjuicios, de la naturaleza que sean,
                que puedan deberse a los servicios prestados por terceros a través del Sitio Web, y en particular,
                aunque no de modo exclusivo, por los daños y perjuicios que puedan deberse a:
                Incumplimiento de la ley, la moral y las buenas costumbres generalmente aceptadas o el orden público.
                Infracción de los derechos de propiedad intelectual e industrial, de los secretos empresariales, de
                compromisos contractuales de cualquier clase, de los derechos al honor, a la intimidad personal y
                familiar y a la imagen de las personas, de los derechos de propiedad y de toda otra naturaleza
                pertenecientes a un tercero como consecuencia de la prestación de servicios por terceros a través del
                Sitio Web.
                La realización de actos de competencia desleal y publicidad ilícita como consecuencia de la prestación
                de servicios por terceros a través del Sitio Web.
                La falta de veracidad, exactitud, suficiencia, idoneidad, actualidad, de los contenidos transmitidos,
                difundidos, almacenados, recibidos, obtenidos, puestos a disposición o accesibles mediante los servicios
                prestados por terceros a través del Sitio Web.
                La falta de adecuación para cualquier clase de propósito y la defraudación de las expectativas generadas
                por los servicios prestados por terceros a través del Sitio Web.
                El incumplimiento, retraso en el cumplimiento, cumplimiento defectuoso o terminación por cualquier causa
                de las obligaciones contraídas por terceros y contratos realizados con terceros en relación con o con
                motivo de la prestación de servicios a través del Sitio Web. Los vicios y defectos de toda clase de los
                servicios prestados por terceros a través del Sitio Web.
                3. Exclusión de garantías y de responsabilidad por los servicios y contenidos alojados fuera del Sitio
                Web.
                El Sitio Web pone a disposición del Usuario dispositivos técnicos de enlace (tales como links, banners,
                botones, directorios y herramientas de búsqueda) que permiten acceder a otros sitios Web pertenecientes
                a, o manejados por, terceros (en adelante, los Sitios Enlazados)
                La instalación de los Sitios Enlazados tienen por único objeto facilitar al Usuario la búsqueda y el
                acceso a la información disponible en Internet.
            </p>
        </div>
    </div>
</section>