<div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
        <button type="button" class="btn btn-primary" (click)="openCrear()">
            Crear Publicacion
        </button>
    </div>
</div>

<div class="col-12">
    <div class="d-flex justify-content-center row" infiniteScroll [infiniteScrollDistance]="3"
        [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
        <div class="col-4 col-sm-4 col-xs-4" *ngFor="let item of listPublicacion">
            <div class="marge-card mb-3">
                <div class="mat-elevation-z5 p-10">
                    <div class="card mb-0 ng-trigger ng-trigger-cardRemove" animatesinitmode="show"
                        style="visibility: visible; opacity: 1;">
                        <div class="card-body ng-tns-c14-23 p-0 ng-star-inserted mouse" (click)="openCrear( item )">
                            <img alt="Card image cap" class="card-img-top"
                                [src]="item.foto || 'https://s3.amazonaws.com/publihazclick/default/fondoTareas.jpg'">
                        </div>
                        <div class="card-body ng-tns-c14-24 m-t-15 ng-star-inserted">
                            <h5 class="card-title mouse" (click)="openPublic( item )">{{ item.titulo }}</h5>
                            <p class="card-text"><small class="text-muted">{{ item.createdAt | date:'medium' }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="col-12" *ngIf="progreses">
    <div class="d-flex justify-content-center row">
        <div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span></div>
        <div class="spinner-grow text-secondary" role="status"><span class="sr-only">Loading...</span></div>
        <div class="spinner-grow text-success" role="status"><span class="sr-only">Loading...</span></div>
        <div class="spinner-grow text-danger" role="status"><span class="sr-only">Loading...</span></div>
        <div class="spinner-grow text-warning" role="status"><span class="sr-only">Loading...</span></div>
        <div class="spinner-grow text-info" role="status"><span class="sr-only">Loading...</span></div>
        <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
        <div class="spinner-grow text-dark" role="status"><span class="sr-only">Loading...</span></div>
    </div>
</div>

<div class="col-12" *ngIf="!progreses && count == 0">
    <div class="d-flex justify-content-center row">
        <div role="alert" class="alert alert-primary">No Hay Datos Para Mostrar</div>
    </div>
</div>