img{
    height: 35px
}

.esGenerado{
    background: green;
    color: white;
    padding: 5px;
}

.esCancelado{
  background: red;
  color: white;
  padding: 5px;
}
.esCompletado{
  background: #11c15b;
  color: white;
  padding: 5px;
}
.esDevolucion{
  background: rgb(255, 180, 180);
  color: white;
  padding: 5px;
}