<div class="card ng-trigger ng-trigger-cardRemove" animates="" animatesinitmode="show"
    style="visibility: visible; opacity: 1;">
    <div class="ng-tns-c14-12 ng-trigger ng-trigger-collapsedCard ng-star-inserted" style="overflow: hidden;">
        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <h5>ESTADO DE GUIAS</h5>
            </div>
        </div>
    </div>
    <div class="content p-5">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <div class="row container">
                        <div class="form-group col-4" *ngIf="rolName == 'admin'">
                            <label for="exampleInputEmail1">User Name // Email</label>
                            <input type="text" class="form-control" [(ngModel)]="filtro.user" placeholder="Enter nombre">
                        </div>
                        <div class="col-3">
                            <label for="exampleInputEmail1">Fecha Inicial</label>
                            <input type="datetime-local" [(ngModel)]="filtro.fecha1" name="birthdaytime">
                        </div>
                        <div class="col-3">
                            <label for="exampleInputEmail1">Fecha final</label>
                            <input type="datetime-local" [(ngModel)]="filtro.fecha2" name="birthdaytime">
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-primary" (click)="getFiltro()">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card-body ng-tns-c14-12 table-border-style ng-star-inserted">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th *ngFor="let item of tablet.header">{{ item }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of tablet.listRow">
                                    <td>
                                        <div class="row">
                                            <button type="button" class="btn btn-primary" (click)="detalles( item )">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </button>
                                            <div *ngIf="item.urlRotulos">
                                                <button type="button" (click)="openView(item.urlRotulos)" class="btn btn-primary">Rotulos</button>
                                            </div>
                                            <div *ngIf="item.urlRelacionenvio">
                                                <button type="button" (click)="openView(item.urlRelacionenvio)" class="btn btn-primary">Relacion</button>
                                            </div>
                                            <div>
                                                <button type="button" (click)="cancelar( item )" class="btn btn-danger">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ item.nRemesa }}</td>
                                    <td>
                                        <input style="width: 138px;" class="form-control form-control-sm" [(ngModel)]="item.numeroFactura" type="text" (ngModelChange)="updateInfro(item, 'numeroFactura')">
                                    </td>
                                    <!-- <td>
                                        <input style="width: 138px;" class="form-control form-control-sm" [(ngModel)]="item.referencia" type="text" (ngModelChange)="updateInfro(item, 'referencia')">
                                    </td> -->
                                    <td>
                                        <input style="width: 138px;" currencyMask class="form-control form-control-sm" [(ngModel)]="item.totalValorMercancia" [options]="formatoMoneda" (blur)="updateInfro(item, 'totalValorMercancia')" />
                                    </td>
                                    <td>
                                        <div *ngIf="item.transportadoraSelect == 'ENVIA'" >
                                            <img src="https://aveonline.co/app/temas/imagen_transpo/084935-1-envia-094632-1-ENVIA.jpg" class="img">
                                        </div>
                                        <div *ngIf="item.transportadoraSelect == 'TCC'" >
                                            <img src="https://aveonline.co/app/temas/imagen_transpo/104926-1-tcc.jpg" class="img">
                                        </div>
                                    </td>
                                    <td>{{ item.seleccionAgente }}</td>
                                    <td>{{ item.kilosReales }}</td>
                                    <td>{{ item.unidadesInternas }}</td>
                                    <td>{{ _tools.monedaChange( 3, 2, item.fleteValor || 0 ) }}</td>
                                    <td>{{ _tools.monedaChange( 3, 2, item.fleteManejo || 0 ) }}</td>
                                    <td></td>
                                    <td>{{ _tools.monedaChange( 3, 2, item.flteTotal || 0 ) }}</td>
                                    <td>{{ _tools.monedaChange( 3, 2, item.valorRecaudar || 0 ) }}</td>
                                    <td>{{ item.fechaDest }}</td>
                                    <td>
                                        <div [ngClass]="{esGenerado: item.estado == 'GENERADA', esCancelado: item.estado != 'GENERADA'}">
                                            {{ item.estadosName }}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12" *ngIf="progreses">
                        <div class="d-flex justify-content-center row">
                            <div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-secondary" role="status"><span
                                    class="sr-only">Loading...</span></div>
                            <div class="spinner-grow text-success" role="status"><span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-danger" role="status"><span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-warning" role="status"><span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-info" role="status"><span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-dark" role="status"><span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12" *ngIf="!progreses && tablet.listRow.length == 0">
                        <div class="d-flex justify-content-center row">
                            <div role="alert" class="alert alert-primary">
                                No Hay Datos Para Mostrar
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>