<header class="header-section">
    <div class="menu-item">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-2 col-xs-2">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="./assets/imagenes/logo.jpeg" class="alto" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-10 col-xs-10">
                    <div class="nav-menu">
                        <nav class="mainmenu">
                            <ul>
                                <!-- <li><a target="_blank" href="{{ urlPagos }}">SOLICITUD DE CREDITO Y CONFIGURACION DE TUS PAGOS</a></li> -->
                                <li><a [routerLink]="['/auth/login']">REGISTRATE - INICIA SECCIÓN</a></li>
                                <li class="active"><a target="_blank"
                                        href="https://fabricaybodega-59c8e.firebaseapp.com/registro/1">CATALOGO PARA EL
                                        SISTEMA</a></li>
                                <li><a [routerLink]="['/portada/guiadetalles']">RASTREO DE ENVÍO</a></li>
                                <!-- <li><a target="_blank" href="https://fabricaybodega-59c8e.firebaseapp.com/">INGRESA
                                        A TU OFICINA</a></li> -->
                                <!-- <li><a target="_blank" href="https://fabricaybodega-59c8e.firebaseapp.com/">CALZADO
                                        A CREDITO</a></li> -->
                                <!-- <li><a target="_blank" href="https://enviosrrapidoscom.web.app/">PLATAFORMA DE
                                        ENVIOS</a></li> -->
                                <!-- <li><a target="_blank"
                                        href="https://bit.ly/GENERARGUIASDEENVIA">GENERAR
                                        GUÍAS</a></li> -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>
<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="footer-text">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ft-about">
                        <div class="logo">
                            <a href="#">
                                <img src="./assets/imagenes/logo.jpeg" class="logoFooter" alt="">
                            </a>
                        </div>
                        <p>Empresa colombiana ayudando a los empresarios de corazon</p>
                        <div class="fa-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-tripadvisor"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="ft-contact">
                        <h6>Menu</h6>
                        <ul>
                            <li><a [routerLink]="['/auth/login']">REGISTRATE - INICIA SECCIÓN</a></li>
                            <li class="active"><a target="_blank"
                                    href="https://fabricaybodega-59c8e.firebaseapp.com/registro/1">CATALOGO PARA EL
                                    SISTEMA</a></li>
                            <li><a [routerLink]="['/portada/guiadetalles']">RASTREO DE ENVÍO</a></li>
                            <li><a target="_blank" href="{{ urlTerminos }}">TERMINOS Y CONDICIONES</a></li>
                        </ul>
                    </div>
                    <div class="ft-contact">
                        <h6>Contacto</h6>
                        <ul>
                            <li>(57) 315 4074456</li>
                            <li>enviosrrapidos@gmail.com</li>
                            <li>barrio claret</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>