<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <!-- <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4"> -->
            <img src="assets/extra/logo.png" alt="" class="img-fluid mb-4">
            <h4 class="mb-3 f-w-400">Iniciar Sesión</h4>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-mail"></i></span>
              </div>
              <input type="email" [(ngModel)]="data.username" class="form-control" placeholder="Username">
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-lock"></i></span>
              </div>
              <input type="password" [(ngModel)]="data.password" class="form-control" placeholder="Clave de acceso">
            </div>
            <button class="btn btn-block btn-primary mb-4" (click)="iniciar()">Iniciar</button>
            <p class="mb-2 text-muted">Se te olvidó tu contraseña? <a [routerLink]="['/auth/reset-password']" class="f-w-400">Resetiar</a></p>
            <p class="mb-0 text-muted">No tengo una cuenta? <a [routerLink]="['/auth/registrate']" class="f-w-400">Regístrate</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
