/* You can add global styles to this file, and also import other style files */

/* SCSS */
@import "scss/style";

.mouse{
    cursor: pointer;
}

.fotoPerfil{
    max-width: 45px;
    max-height: 46px;
    min-width: 43px;
    min-height: 44px;
}


.mat-elevation-z5 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
}