/* You can add global styles to this file, and also import other style files */

/* SCSS */
@import "scss/style";

.mouse{
    cursor: pointer;
}

.fotoPerfil{
    max-width: 45px;
    max-height: 46px;
    min-width: 43px;
    min-height: 44px;
}

.anchosFoto{
    max-width: 80%;
    min-width: 75%;
    max-height: 260px;
    min-height: 256px;
}

.centrando{
    align-self: flex-end;
}


.mat-elevation-z5 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
}

// .anchosBanner{
//   width: 100%;
//   height: 165px;
// }

.anchosProductos {
  max-height: 324px;
  max-width: 15pc;
  min-height: 290px;
  min-width: 10pc;
}

// #anchosLi {
//   width: 14pc !important;
// }

// .centerAncho{
//   width: 20pc;
// }

 .pointer {
   cursor: pointer;
}
// .icons {
//     margin: 5px 5px 5px 15px;
// }
// .imgFoto{
//   height: 371px;
// }
// .mat-toolbar-row, .mat-toolbar-single-row {
//   display: flex !important;
//   box-sizing: border-box !important;
//   padding: 0 16px !important;
//   width: auto !important;
//   flex-direction: row !important;
//   align-items: center !important;
//   white-space: nowrap !important;
// }
// .imgProductos{
//   height: 193px;
//   width: 170px;
//   max-height: 269px;
//   min-height: 190px;
//   max-width: 628px;
// }
// .views1 {
//   display: none;
// }
// .views2 {
//   display: none;
// }
// .foto {
//   height: 43px;
// }
// .ng-image-slider-lightbox{
//   display: none !important;
// }

// .ngxImageZoomThumbnail {
//   max-height: 425px !important;
//   max-width: 407px !important;
//   height: 219px !important;
// }

// .centrarp {
//   text-align: center;
//   padding-bottom: 35px;
//   margin-left: 30px;
// }
// div li {
//   display:inline-block;
//   margin-left: 15px;
//   margin-right: 15px;
// }
// /*.ng-star-inserted{
//   color: #3f51b5 !important;
// }*/
// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 320px) {
//   .mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
//     font: 300 18px/22px Roboto,"Helvetica Neue",sans-serif;
//     margin-top: 10px;
//   }
//   .divisor {
//     margin-top: 10px;
//   }
//   .centrarp {
//     text-align: center;
//     padding-bottom: 35px;
//     margin-left: 30px;
//   }
//   #anchosLi {
//     width: 15pc !important;
//   }
// }
// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 420px) {
//   .imgFoto{
//     height: 238px;
//   }
//   .views1 {
//     display: none;
//   }
//   .views2 {
//     display: none;
//   }
//   .ancho {
//     width: 85%;
//   }
//   .textInf {
//     font-size: 11px;
//   }
//   .ngxImageZoomThumbnail{
//     max-height: 425px !important;
//     max-width: 407px !important;
//     height: 258px !important;
//   }
//   .centrarp {
//     text-align: center;
//     padding-bottom: 35px;
//     margin-left: 30px;
//   }
//   #anchosLi {
//     width: 15pc !important;
//   }
//   div li {
//     display:inline-block;
//     margin-left: 6px;
//     margin-right: 6px;
//   }
// }
// @media only screen and (max-width: 600px) {
//   .imgFoto{
//     height: 171px;
//   }
//   .views1 {
//     display: none;
//   }
//   .views2 {
//     display: none;
//   }
//   .ancho {
//     width: 85%;
//   }
//   .textInf {
//     font-size: 13px;
//   }
//   .ngxImageZoomThumbnail{
//     max-height: 425px !important;
//     max-width: 407px !important;
//     height: 258px !important;
//   }
//   .centrarp {
//     text-align: center;
//     padding-bottom: 35px;
//     margin-left: 63px;
//   }
//   #anchosLi {
//     width: 15pc !important;
//   }
//   div li {
//     display:inline-block;
//     margin-left: 6px;
//     margin-right: 6px;
//   }
// }
// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
//   .imgFoto{
//     height: 193px;
//   }
//   .views1 {
//     display: inline;
//   }
//   .views2 {
//     display: none;
//   }
//   .ancho {
//     width: 65%;
//   }
//   .textInf {
//     font-size: 12px;
//   }
//   .ngxImageZoomThumbnail{
//     max-height: 425px !important;
//     max-width: 407px !important;
//     height: 287px !important;
//   }
//   .centrarp {
//     text-align: center;
//     padding-bottom: 35px;
//     margin-left: 7px;
//   }
//   #anchosLi {
//     width: 15pc !important;
//   }
//   div li {
//     display:inline-block;
//     margin-left: 15px;
//     margin-right: 15px;
//   }
// }

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 768px) {
//   .imgFoto{
//     height: 193px;
//   }
//   .views1 {
//     display: inline;
//   }
//   .views2 {
//     display: none;
//   }
//   .ancho {
//     width: 65%;
//   }
//   .textInf {
//     font-size: 12px;
//   }
//   .ngxImageZoomThumbnail{
//     max-height: 425px !important;
//     max-width: 407px !important;
//     height: 285px !important;
//   }
//   .centrarp {
//     text-align: center;
//     padding-bottom: 35px;
//     margin-left: 7px;
//   }
//   #anchosLi {
//     width: 14pc !important;
//   }
//   div li {
//     display:inline-block;
//     margin-left: 15px;
//     margin-right: 15px;
//   }
// }

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 800px) {
//   .imgFoto{
//     height: 238px;
//   }
//   .views1 {
//     display: inline;
//   }
//   .views2 {
//     display: inline;
//   }
//   .ancho {
//     width: 45%;
//   }
//   .textInf {
//     font-size: 13px;
//   }
//   .ngxImageZoomThumbnail{
//     max-height: 425px !important;
//     max-width: 407px !important;
//     height: 289px !important;
//   }
//   .centrarp {
//     text-align: center;
//     padding-bottom: 35px;
//     margin-left: 30px;
//   }
//   #anchosLi {
//     width: 13pc !important;
//   }
//   div li {
//     display:inline-block;
//     margin-left: 15px;
//     margin-right: 15px;
//   }
// }

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
//   .imgFoto{
//     height: 307px;
//   }
//   .textInf {
//     font-size: 15px;
//   }
//   .views1 {
//     display: inline;
//   }
//   .views2 {
//     display: inline;
//   }
//   .ancho {
//     width: 60%;
//   }
//   .ngxImageZoomThumbnail{
//     max-height: 425px !important;
//     max-width: 407px !important;
//     height: 367px !important;
//   }
//   .centrarp {
//     text-align: center;
//     padding-bottom: 35px;
//     margin-left: 0px
//   }
//   #anchosLi {
//     width: 13pc !important;
//   }
//   div li {
//     display:inline-block;
//     margin-left: 15px;
//     margin-right: 15px;
//   }
// }

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
//   .imgFoto{
//     height: 300px;
//   }
//   .views1 {
//     display: inline;
//   }
//   .views2 {
//     display: inline;
//   }
//   .ancho {
//     width: 60%;
//   }
//   .textInf {
//     font-size: 15px;
//   }
//   .ngxImageZoomThumbnail{
//     max-height: 425px !important;
//     max-width: 407px !important;
//     height: 425px !important;
//   }
//   .centrarp {
//     text-align: center;
//     padding-bottom: 35px;
//     margin-left: 0px
//   }
//   div li {
//     display:inline-block;
//     margin-left: 15px;
//     margin-right: 15px;
//   }
// }
