/* You can add global styles to this file, and also import other style files */

/* SCSS */
@import "scss/style";

.mouse{
    cursor: pointer;
}

.fotoPerfil{
    max-width: 45px;
    max-height: 46px;
    min-width: 43px;
    min-height: 44px;
}