<div class="row">
    <div class="col-12">
        <h5>Publicaciones recientes</h5>
        <hr>
        <div class="d-flex justify-content-center row">
            <div class="col-8">
                <div class="marge-card mb-3">
                    <app-card blockclass="p-0" cardclass="mb-0" class="ng-tns-c14-23">
                        <div class="card mb-0 ng-trigger ng-trigger-cardRemove" animates="" animatesinitmode="show"
                            style="visibility: visible; opacity: 1;">

                            <div class="card-body ng-tns-c14-23 p-0 ng-star-inserted">
                                <img alt="Card image cap" class="card-img-top"
                                    src="assets/images/slider/img-slide-3.jpg"></div>
                            <div class="card-body ng-tns-c14-24 m-t-15 ng-star-inserted">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last
                                        updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </app-card>
                </div>
            </div>

        </div>
    </div>
</div>