<div class="auth-wrapper">
  <!-- [ reset-password ] start -->
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
            <h4 class="mb-3 f-w-400">Resetiar pasword</h4>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-mail"></i></span>
              </div>
              <input type="email" [(ngModel)]="data.email" class="form-control" placeholder="Email address">
            </div>
            <button class="btn btn-block btn-primary mb-4" (click)="accionCambiar()" [disabled]="ocultar">Restablecer la contraseña</button>
            <p class="mb-0 text-muted">No tienes una cuenta? <a [routerLink]="['/auth/registrate/admin']" class="f-w-400">Regístrate</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ reset-password ] end -->
</div>
