<div class="card ng-trigger ng-trigger-cardRemove" animates="" animatesinitmode="show"
    style="visibility: visible; opacity: 1;">
    <div class="ng-tns-c14-12 ng-trigger ng-trigger-collapsedCard ng-star-inserted" style="overflow: hidden;">
        <div class="d-flex justify-content-between">
            <div></div>
            <div class="d-flex justify-content-center">
                <div>
                    <label>Tipo de Trasportadora*</label>
                    <select class="form-control form-control-sm"
                        [(ngModel)]="data.plataforma">
                        <option value="TODO">TODOS</option>
                        <option value="ENVIA">Envia</option>
                        <option value="CORDINADORA">Cordinadora
                        </option>
                    </select>
                </div>
                <div>
                    <br>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" (click)="filtroGet()">BUSCAR</button>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-success" (click)="openImprimir()">IMPRIMIR</button>
            </div>
          </div>
    </div>
    <div class="content p-5">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <div>
                        <table border="1" cellpadding="0" cellspacing="0"
                            style="border-collapse: collapse; border: none; margin-left: -4.15pt; width: 952px;">
                            <tbody>
                                <tr>
                                    <td colspan="8"
                                        style="border-bottom: 0.5pt solid windowtext; border-image: initial; border-left: 0.5pt solid windowtext; border-right: none; border-top: 0.5pt solid windowtext; padding: 0cm 3.5pt; width: 209.65pt;"
                                        valign="top" width="280">
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            &nbsp;<span style="font-family: Arial; font-size: 10pt;">

                                            </span>
                                        </p>
                                    </td>
                                    <td colspan="10"
                                        style="border-bottom: 0.5pt solid windowtext; border-image: initial; border-left: none; border-right: 0.5pt solid windowtext; border-top: 0.5pt solid windowtext; padding: 0cm 3.5pt; width: 504.3pt;"
                                        width="672">
                                        <h1 align="center"
                                            style="break-after: avoid; font-family: Arial; font-size: 14pt; margin: 0cm 0cm 0.0001pt; text-align: center;">
                                            RELACION DE DESPACHOS
                                        </h1>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5"
                                        style="border-bottom: none; border-image: initial; border-left: 0.5pt solid windowtext; border-right: none; border-top: none; padding: 0cm 3.5pt; width: 150.6pt;"
                                        valign="top" width="201">
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            <span style="font-family: Arial; font-size: 8pt;">CIUDAD:&nbsp;<u>{{ infoInit.ciudad }}</u>

                                            </span>
                                        </p>
                                    </td>
                                    <td colspan="5" style="border: none; padding: 0cm 3.5pt; width: 141.4pt;"
                                        valign="top" width="189">
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            <span
                                                style="font-family: Arial; font-size: 8pt;">FECHA:&nbsp;<u>{{ infoInit.fecha }}</u>

                                            </span>
                                        </p>
                                    </td>
                                    <td colspan="8"
                                        style="border-bottom: none; border-image: initial; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 421.95pt;"
                                        valign="top" width="563">
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            <span style="font-family: Arial; font-size: 8pt;">CODIGO
                                                CLIENTE:&nbsp;<u>11-001-0001923</u>

                                            </span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4"
                                        style="border-bottom: 0.5pt solid windowtext; border-left: 0.5pt solid windowtext; border-right: none; border-top: none; padding: 0cm 3.5pt; width: 125.35pt;"
                                        valign="top" width="167">
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            <span style="font-family: Arial; font-size: 8pt;">REMITE:&nbsp;<u>GLOBAL
                                                    REPARTO CON RECAUDO</u>

                                            </span>
                                        </p>
                                    </td>
                                    <td colspan="3"
                                        style="border-bottom: 0.5pt solid windowtext; border-image: initial; border-left: none; border-right: none; border-top: none; padding: 0cm 3.5pt; width: 84.3pt;"
                                        valign="top" width="112">
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            <span lang="EN-US"
                                                style="font-family: Arial; font-size: 8pt;">CC/NIT:&nbsp;<u>{{ infoInit.cc }}</u>

                                            </span>
                                        </p>
                                    </td>
                                    <td colspan="9"
                                        style="border-bottom-color: windowtext; border-bottom-width: 0.5pt; border-image: initial; border-left-color: inherit; border-left-width: initial; border-right-color: inherit; border-right-width: initial; border-style: none none solid; border-top-color: inherit; border-top-width: initial; padding: 0cm 3.5pt;"
                                        valign="top">
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            <span style="font-family: Arial; font-size: 8pt;">DIR:&nbsp;<u>{{ infoInit.direccion }}</u>

                                            </span>
                                        </p>
                                    </td>
                                    <td style="border-bottom-color: windowtext; border-left-color: inherit; border-right-color: inherit; border-style: none none solid; border-top-color: inherit; border-width: medium medium 0.5pt; font-weight: 700; padding: 0cm 3.5pt;"
                                        valign="top"></td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 194.5pt;"
                                        valign="top" width="259">
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            <span lang="EN-US"
                                                style="font-family: Arial; font-size: 8pt;">TEL:&nbsp;<u>{{ infoInit.tel }}</u>

                                            </span>
                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 3.5pt;">
                                    <td style="border-bottom: 0.5pt solid windowtext; border-image: initial; border-left: 0.5pt solid windowtext; border-right: 0.5pt solid windowtext; border-top: none; height: 3.5pt; padding: 0cm 3.5pt; width: 20.85pt;"
                                        valign="top" width="28">
                                        <p align="center" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: center;">
                                            <span lang="EN-US" style="font-family: Arial; font-size: 7pt;">#</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; height: 3.5pt; padding: 0cm 3.5pt; width: 85.75pt;"
                                        valign="top" width="114">
                                        <p align="center" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: center;">
                                            <span style="font-family: Arial; font-size: 7pt;">DESTINATARIO</span>
                                        </p>
                                    </td>
                                    <td colspan="4"
                                        style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; height: 3.5pt; padding: 0cm 3.5pt; width: 54.4pt;"
                                        valign="top" width="73">
                                        <p align="center" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: center;">
                                            <span style="font-family: Arial; font-size: 7pt;">CIUDAD</span>
                                        </p>
                                    </td>
                                    <td colspan="3"
                                        style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; height: 3.5pt; padding: 0cm 3.5pt; width: 76pt;"
                                        valign="top" width="101">
                                        <p align="center" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: center;">
                                            <span style="font-family: Arial; font-size: 7pt;">DIRECCION</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; height: 3.5pt; padding: 0cm 3.5pt; width: 55pt;"
                                        valign="top" width="73">
                                        <p align="center" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: center;">
                                            <span style="font-family: Arial; font-size: 7pt;">CONTENIDO</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; height: 3.5pt; padding: 0cm 3.5pt; width: 60.4pt;"
                                        valign="top" width="81">
                                        <p align="center" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: center;">
                                            <span style="font-family: Arial; font-size: 7pt;">DOCUMENTO</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; height: 3.5pt; padding: 0cm 3.5pt;"
                                        valign="top">
                                        <p align="center" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: center;">
                                            <span style="font-family: Arial; font-size: 7pt;">UND</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; height: 3.5pt; padding: 0cm 3.5pt; width: 31.25pt;"
                                        valign="top" width="42">
                                        <p align="center" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: center;">
                                            <span style="font-family: Arial; font-size: 7pt;">PESO</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; height: 3.5pt; padding: 0cm 3.5pt; width: 25.45pt;"
                                        valign="top" width="34">
                                        <p align="center" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: center;">
                                            <span style="font-family: Arial; font-size: 7pt;">VOL</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; height: 3.5pt; padding: 0cm 3.5pt; width: 34.1pt;"
                                        valign="top" width="45">
                                        <p align="center" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: center;">
                                            <span style="font-family: Arial; font-size: 7pt;">DECL</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; height: 3.5pt; padding: 0cm 3.5pt; width: 34.1pt;"
                                        valign="top" width="45">
                                        <p align="center" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: center;">
                                            <span style="font-family: Arial; font-size: 7pt;">FLETE</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; height: 3.5pt; padding: 0cm 3.5pt; width: 53.5pt;"
                                        valign="top" width="71">
                                        <p align="center" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: center;">
                                            <span style="font-family: Arial; font-size: 7pt;">GUIAS</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; height: 3.5pt; padding: 0cm 3.5pt; width: 194.5pt;"
                                        valign="top" width="259" >
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            &nbsp;
                                        </p>
                                    </td>
                                </tr>
                                <tr *ngFor="let item of listRow; let idx=index">
                                    <td style="border-bottom: 0.5pt solid windowtext; border-image: initial; border-left: 0.5pt solid windowtext; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 20.85pt;"
                                        valign="top" width="28">
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            <span style="font-family: Arial; font-size: 7pt;">{{ item.count }}</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 85.75pt;"
                                        valign="top" width="114">
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            <span style="font-family: Arial; font-size: 7pt;">{{ item.contactoDestinatario }}</span>
                                        </p>
                                    </td>
                                    <td colspan="4"
                                        style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 54.4pt;"
                                        valign="top" width="73">
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            <span style="font-family: Arial; font-size: 7pt;">{{ item.ciudadDestinatarioText }}</span>
                                        </p>
                                    </td>
                                    <td colspan="3"
                                        style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 76pt;"
                                        valign="top" width="101">
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            <span style="font-family: Arial; font-size: 7pt;">{{ item.direccionDestinatario }} - {{ item.barrioDestinatario }}
                                            </span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 55pt;"
                                        valign="top" width="73">
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            <span style="font-family: Arial; font-size: 7pt;">{{ item.diceContener }}</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 60.4pt;"
                                        valign="top" width="81">
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            <span style="font-family: Arial; font-size: 7pt;">

                                            </span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt;"
                                        valign="top">
                                        <p align="right" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: right;">
                                            <span style="font-family: Arial; font-size: 7pt;">{{ item.unidadNegocio }}</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 31.25pt;"
                                        valign="top" width="42">
                                        <p align="right" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: right;">
                                            <span style="font-family: Arial; font-size: 7pt;">{{ item.totalPeso }}</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 25.45pt;"
                                        valign="top" width="34">
                                        <p align="right" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: right;">
                                            <span style="font-family: Arial; font-size: 7pt;">{{ item.totalPesovolumen }}</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 34.1pt;"
                                        valign="top" width="45">
                                        <p align="right" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: right;">
                                            <span style="font-family: Arial; font-size: 7pt;">{{ _tools.monedaChange( 3, 2, item.totalValorMercancia ) }}</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 34.1pt;"
                                        valign="top" width="45">
                                        <p align="right" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: right;">
                                            <span style="font-family: Arial; font-size: 7pt;">{{ _tools.monedaChange( 3, 2, item.flteTotal ) }}</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 53.5pt;"
                                        valign="top" width="71">
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            <span style="font-family: Arial; font-size: 7pt;">{{ item.nRemesa }}</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 194.5pt;"
                                        valign="top" width="259">
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            <img height="30"
                                                src="http://200.69.100.66/files/jpg/{{ item.nRemesa }}.jpg" width="250" *ngIf="item.transportadoraSelect == 'ENVIA'"/>
                                            <img height="30"
                                                src="./assets/imagenes/logoCordinadora.png" width="250" *ngIf="item.transportadoraSelect == 'CORDINADORA'"/>

                                        </p>
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="11"
                                        style="border-bottom: 0.5pt solid windowtext; border-image: initial; border-left: 0.5pt solid windowtext; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 352.4pt;"
                                        valign="top" width="470">
                                        <p align="right" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: right;">
                                            <span style="font-family: Arial; font-size: 7pt;">TOTALES</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt;"
                                        valign="top">
                                        <p align="right" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: right;">
                                            <span style="font-family: Arial; font-size: 7pt;"> {{ total.unidad }}</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 31.25pt;"
                                        valign="top" width="42">
                                        <p align="right" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: right;">
                                            <span style="font-family: Arial; font-size: 7pt;">{{ total.peso }}</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 25.45pt;"
                                        valign="top" width="34">
                                        <p align="right" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: right;">
                                            <span style="font-family: Arial; font-size: 7pt;">{{ total.volumen }}</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 34.1pt;"
                                        valign="top" width="45">
                                        <p align="right" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: right;">
                                            <span style="font-family: Arial; font-size: 7pt;">{{ _tools.monedaChange( 3, 2, total.totalValorMercancia ) }}</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 34.1pt;"
                                        valign="top" width="45">
                                        <p align="right" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: right;">
                                            <span style="font-family: Arial; font-size: 7pt;">{{ _tools.monedaChange( 3, 2, total.flteTotal ) }}</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 53.5pt;"
                                        valign="top" width="71">
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            <span style="font-family: Arial; font-size: 7pt;">{{ total.cantidadItem }}</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 194.5pt;"
                                        valign="top" width="259">
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            &nbsp;
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table border="1" cellpadding="0" cellspacing="0"
                            style="border-collapse: collapse; border: none;">
                            <tbody>
                                <tr>
                                    <td style="border: 0.5pt solid windowtext; padding: 0cm 3.5pt; width: 116.75pt;"
                                        valign="top" width="156">
                                        <p align="center" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: center;">
                                            <b><span style="font-family: Arial; font-size: 8pt;">CENTRO DE
                                                    DISTRIBUCION</span></b>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-image: initial; border-left: none; border-right: 0.5pt solid windowtext; border-top: 0.5pt solid windowtext; padding: 0cm 3.5pt; width: 46.15pt;"
                                        valign="top" width="62">
                                        <p align="center" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: center;">
                                            <b><span lang="EN-US"
                                                    style="font-family: Arial; font-size: 8pt;">Items</span></b>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-image: initial; border-left: none; border-right: 0.5pt solid windowtext; border-top: 0.5pt solid windowtext; padding: 0cm 3.5pt; width: 29.7pt;"
                                        valign="top" width="40">
                                        <p align="center" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: center;">
                                            <b><span lang="EN-US"
                                                    style="font-family: Arial; font-size: 8pt;">UNDS</span></b>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-image: initial; border-left: none; border-right: 0.5pt solid windowtext; border-top: 0.5pt solid windowtext; padding: 0cm 3.5pt; width: 50.15pt;"
                                        valign="top" width="67">
                                        <p align="center" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: center;">
                                            <b><span lang="EN-US" style="font-family: Arial; font-size: 8pt;">DOC
                                                    ENTR</span></b>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-image: initial; border-left: none; border-right: 0.5pt solid windowtext; border-top: 0.5pt solid windowtext; padding: 0cm 3.5pt; width: 45pt;"
                                        valign="top" width="60">
                                        <p align="center" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: center;">
                                            <b><span lang="EN-US" style="font-family: Arial; font-size: 8pt;">DOC
                                                    DEV</span></b>
                                        </p>
                                    </td>
                                </tr>
                                <tr *ngFor="let item of listDistribucion">
                                    <td style="border-bottom: 0.5pt solid windowtext; border-image: initial; border-left: 0.5pt solid windowtext; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 116.75pt;"
                                        valign="top" width="156">
                                        <p class="MsoNormal" style="font-size: 12pt; margin: 0cm 0cm 0.0001pt;">
                                            <span style="font-family: Arial; font-size: 8pt;">{{ item.name }}</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 46.15pt;"
                                        valign="top" width="62">
                                        <p align="right" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: right;">
                                            <span style="font-family: Arial; font-size: 8pt;">{{ item.item }}</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 29.7pt;"
                                        valign="top" width="40">
                                        <p align="right" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: right;">
                                            <span style="font-family: Arial; font-size: 8pt;">{{ item.unds }}</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 50.15pt;"
                                        valign="top" width="67">
                                        <p align="right" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: right;">
                                            <span style="font-family: Arial; font-size: 8pt;">{{ item.docEnter }}</span>
                                        </p>
                                    </td>
                                    <td style="border-bottom: 0.5pt solid windowtext; border-left: none; border-right: 0.5pt solid windowtext; border-top: none; padding: 0cm 3.5pt; width: 45pt;"
                                        valign="top" width="60">
                                        <p align="right" class="MsoNormal"
                                            style="font-size: 12pt; margin: 0cm 0cm 0.0001pt; text-align: right;">
                                            <span style="font-family: Arial; font-size: 8pt;">{{ item.docDev }}</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
