.p {
    padding: 10px;
  }
  .margin {
    margin: 5px;
    border-radius: 15px;
  }
  .m {
    margin: 10px;
  }
  .ftext {
    font-size: 5px;
  }
  .punter {
    cursor: pointer;
  }
  .img {
    width: 90%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img2 {
    width: 70%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .font {
    font-size: 10px;
  }
  .red {
    background: red;
  }
  .orange {
    background: orange;
  }
  .blue {
    background: blue;
  }
  .green {
    background: green;
  }
  