
<div fxLayout="column" *ngIf="cuerpo.disable.view">
  <div class="mat-elevation-z8 p row p-3 mb-2 bg-primary text-white" style="width: 100%;">
    <div class="p col m">
      <h5>{{ cuerpo.data.publicacion.title }}</h5>
    </div>
    <div class="row m" *ngIf="user1.id !== 123">
      <button type="button" class="btn btn-danger p" *ngIf="!cuerpo.contdisable">{{ cuerpo.contador_s }}
        segundos</button>
      <div class="margin row" *ngIf="cuerpo.contdisable">
        <div class="row" *ngIf="disablerealizado">
          <span class="rounded m" [ngClass]="{
            'orange':siguiente.titulo === 'orange',
            'red':siguiente.titulo === 'red',
            'blue':siguiente.titulo === 'blue',
            'green':siguiente.titulo === 'green'
         }">
            <h5 class="p">Seleccione el Color: {{ ' '+siguiente.spanis }} </h5>
          </span>
          <div class="row m">
            <div class="row" *ngFor="let item of colores">
              <div class="col">
                <div (click)="resolved(item)" class="p margin punter" [ngClass]="{
                     'orange':item.titulo === 'orange',
                     'red':item.titulo === 'red',
                     'blue':item.titulo === 'blue',
                     'green':item.titulo === 'green'
                  }">
                  <i class="far fa-eye"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!disablerealizado" class="m p p-3 mb-2 bg-success text-white rounded">
          <h5>
            Actividad Completado
            <i class="far fa-check-square"></i>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div fxLayoutAlign="center" class="mat-elevation-z8 column">
    <div *ngIf="cuerpo.data.publicacion.type !=='img'" class="row col">
      <iframe style="width: 100%; height: 600px;" [src]="cuerpo.data.content" frameborder="0" width="1499" height="561"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <img class="img2 p col" *ngIf="cuerpo.data.publicacion.type ==='img'" style="width: 100%; height: 600px;"
      src="{{cuerpo.data.publicacion.content}}" alt="Photo of a Shiba Inu">
  </div>
  <div fxLayout="column" style="margin: 35px;">
    <div class="column">
      <div class="row p-3 mb-2 bg-info text-white rounded p">
        <div class="col">
          <h3 class="text-white">Informacion</h3>
        </div>
        <button type="button" class="btn btn-danger p" (click)="reportar()" *ngIf="!disablereport && user1.id === 123">
          <span>Reportar</span>
        </button>
      </div>
      <br>
      <div class="">
        <div class="row">
          <div class="col">
            <h5>Descripcion: </h5>
          </div>
        </div>
        <div class="row">
          <p  [innerHtml]="cuerpo.data.publicacion.descripcion">
          </p>
        </div>
      </div>
    </div>
    <div class="row p-3 mb-2 bg-info text-white rounded" *ngIf="user1.id !== 123">
      <h3>Comentarios</h3>
    </div>
    <div class="col column" *ngIf="user1.id !== 123">
      
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let link of comentario.list" (click)="checkdelete(link)">
          <div class="row container">
            <img [src]="link.user.foto" class="rounded-circle perfil-img" height="40px" width="50px" alt="None"
              [routerLink]="['/dashboard/view_perfil', link.user.id]" class="mouse">
            <h6 class="font column col">
              <div [routerLink]="['/dashboard/view_perfil', link.user.id]" class="rounded mouse">
                {{ link.user.username }}
              </div>
              <div>
                <h6 style="font-size: 11px;">
                  {{ link.comentarios.content }}
                </h6>
              </div>
              <div>
                {{ link.createdAt | date }}
              </div>
            </h6>
            <button mat-button type="button" mat-mini-fab color="warn" *ngIf="link.check"
              (click)="deletepublicacion(link, comentario.list)">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="row p">
      <div class="form-group col-12">
        <input type="email" class="form-control form-control-sm" placeholder="escribas un comentario" [(ngModel)]="data.content" (change)="pushComentario(cuerpo)">
      </div>
    </div>
    <!-- <form class="row p" [formGroup]="comenForm" (ngSubmit)="pushComentario(comenForm.value, cuerpo)">
      <mat-form-field class="example-full-width p col">
        <input matInput placeholder="Comentario" autocomplete="off" formControlName="content">
      </mat-form-field>
      <div class="p-3">
        <button type="button" class="btn btn-success" type="submit">Comentar</button>
      </div>
    </form> -->
  </div>
</div>